MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin12345
MINIO_BUCKET=contracts

AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=admin12345
AWS_REGION=us-east-1
S3_ENDPOINT=http://minio:9000

SPARK_MASTER_URL=spark://spark-master:7077
JUPYTER_PORT=8888